.App {
  text-align: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
}

.dadLogo {
  align-self: center;
}

.dokes {
  stroke: yellow;
  stroke-width: 2px;
  fill: none;
}