.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo-container {
  width: 70%;
}

.dadLogo {
  align-self: center;
}

.dokes {
  stroke: yellow;
  stroke-width: 2px;
  fill: none;
}

.copyright {
  color: #FFCB5F;
}